.sidebar{
	flex:3;
	margin:30px;
	/* background-color:rgb(17, 17, 17); */
	/* background: rgb(2,0,36); */
  /* background:linear-gradient(204deg, rgba(2,0,36,1) 7%, rgba(24,24,32,1) 64%, rgba(22,14,107,1) 100%, rgba(90,79,207,0.9822303921568627) 100%); */
	display: flex;
	align-items: center;
	flex-direction: column; 
	height: 100%;
	border-left: 0.2px solid rgba(90, 79, 207, 0.322); /* #5A4FCF ; */
	padding-left: 5px;
}
.sideImage{
	width: 100%; 
	object-fit:cover;
	border-radius: 20px  20px  0 0;
}
.sidebarItem{
	margin: 10px;
	padding: 5px; 
}
.sidebarTitle{
	margin-top :10px; 
	color: white;
	font-family:'Valera Round', sans-serif;
	line-height: 20px;
	font-weight: bold;
	text-align: left;
	padding-bottom: 2px;
	border-bottom: 3px solid rgb(83, 74, 180);
	width: 80%;
}
.sidebarList{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	list-style: none; 
	
}
.sidebarListItem{
	display: inline-block;
	flex-direction: row;
	padding-top:12px;
	display: flex; 
	padding-left:3px

}
.fa-brands,.fa-thin{
	color:rgb(83, 74, 180);
	padding-right:10px;
}
.sidebarSocial{
	display: flex;
	color:rgb(83, 74, 180);
}
.sidebarIcon{
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 10px;
	padding: 5px;
}