*{
	margin:0;
	background-color:#000;
}
body {
  margin: 0;
	background-color:#000;
	color: #e4e4e4;
	font-family: 'josefin sans', sans-serif;
	margin-left: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
